
html {
    box-sizing: border-box;
  }

body{
    font-size: 120%;
}

/* #region header */
header nav{
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

header li {
    float: left;
  }

header li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color:rgb(240, 240, 240);
  }

header h1{
    text-align: center;
    font-weight: normal;
    font-size: 290%;
}

nav a:first-child{
    margin-left: 5%;
}

.aktuell{
    font-weight: bold;
}
/* #endregion header */

/* #region main */
main{
    max-width: 90%;
    margin: auto;
    display: flex;
}
/* #endregion main*/

/* #region footer */
footer{
    margin-top: 3em;
    padding: 1em;

    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    display: flex;

    font-weight: normal;
    font-size: 70%;
    font-style: italic;
}

footer h1{
    font-size: 120%;
}
/* #endregion footer */

/* #region index */

.welcome{
    width: 49%;  
}
.welcome h1
{
    text-align: center;
}
.welcome img,
.welcome iframe{
    display: block;
        margin-left: auto;
        margin-right: auto;
}



.deflist{
    width: 49%;
}

.deftable {
    
    width: 100%;
    height: 200%;
    border: 3px solid rgb(10, 10, 10);
    border-collapse: collapse;
    text-align: left;
    
}
.deftable td, 
.deftable th {
    border: 1px solid rgb(10, 10, 10);
    padding: 5px 4px;
    
}
.deftable tbody td {
    padding-left: 15px;
    
}
.deftable thead {
    background: #CFCFCF;
    border-bottom: 3px solid rgb(10, 10, 10);
}
.deftable thead th {
    font-weight: bold;
    font-size: 120%;
    color: rgb(10, 10, 10);
    text-align: center;
}

.deftable tr:nth-child(even){
    background: #f2f2f2;
}
/* #endregion index*/

/* #region info */
.info{
    width: 98%;
}

.infotable {
    
    width: 100%;
    height: 200%;
    border: 3px solid rgb(10, 10, 10);
    border-collapse: collapse;
    text-align: left;
    
}
.infotable td, 
.infotable th {
    border: 1px solid rgb(10, 10, 10);
    padding: 5px 4px;
    
}
.infotable tbody td {
    padding-left: 15px;
    
}
.infotable thead {
    background: #CFCFCF;
    border-bottom: 3px solid rgb(10, 10, 10);
}
.infotable thead th {
    font-weight: bold;
    font-size: 120%;
    color: rgb(10, 10, 10);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.infotable tr:nth-child(even){
    background: #f2f2f2;
}

.infotable tr td:nth-child(2),
.infotable tr td:nth-child(5)
{
    text-align: center;
    padding: 0%;
}
/* #endregion info */

/* #region contact */
.contact{
    width: 95%;
}

.question{
    width: 95%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.question input,
.question select,
.question textarea {
    width: 94%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#contactsubmit {
    background-color: lightgray;
    color: rgb(10, 10, 10);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

#contactsubmit:hover{
    background-color: gray;
}

.containerquestion {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


#recomno,
#recomyes{
    width: 20px;

}
/* #endregion contact */


/* #region MOBILE */
@media only screen and (max-width: 700px){

    /* #region main */
    main{
        display: block;
        max-width: 99%;
    }

    .infotxt{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
        width: 98%;
        text-align: left;
    }

    iframe{
        width: 95%;
        height: auto;
    }
    /* #endregion main*/
}
/* #endregion MOBILE */